<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Schronisko Pupil</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo_icon.png}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style_main.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/style_dropdown.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/style_main_admin.css}"/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-navbar static-top drop-shadow fwd-navbar">
    <div class="container-fluid ml-0">
        <a class="navbar-brand mb-0 h1" th:href="@{/index}"><img th:src="@{/img/logo_icon.png}" width="30" height="30" class="d-inline-block align-top" alt="logo-navbar" style="margin-right: 0.5rem;">
            Schronisko Pupil</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Strona Główna</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/animals}">Zwierzaki do adopcji</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Panel
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" th:inline="text" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#8eb8e8;">
                            Jesteś zalogowany jako <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <form method="post" th:action="@{/index}">
                                <button class="dropdown-item" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="padding: 15px;">
    <div class="row" style="align-content: center; justify-content: center">
        <!-- Entry to new page -->
        <a class="btn btn-primary button-new" th:href="@{/new_p}">Dodaj nowego pracownika</a>
    </div>

</div>
<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <label style="font-size:30px" th:inline="text">Welcome <a
                            style="color: #8eb8e8; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        to the main page!</label>
                    <div style="font-size:20px">If you want to logout, click "Logout" button under this text.</div>
                </div>

                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
                </button>
            </form>
        </div>

    </div>
</div>
<div class="container-fluid style_main_admin">
    <table border = "1" cellpadding = "10" class="table-center">
        <!-- Table header -->
        <thead>
        <tr> <!-- Table row -->
            <th>Nr_pracownika</th> <!-- Table column -->
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Plec</th>
            <th>Nr_telefonu</th>
            <th>Data_zatrudnienia</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each = "pracownik : ${listPracownik}">
            <td th:text = "${pracownik.nr_pracownika}">Nr_pracownika</td>
            <td th:text = "${pracownik.imie}">Imie</td>
            <td th:text = "${pracownik.nazwisko}">Nazwisko</td>
            <td th:text = "${pracownik.plec}">Plec</td>
            <td th:text = "${pracownik.nr_telefonu}">Nr_telefonu</td>
            <td th:text = "${pracownik.data_zatrudnienia}">Data_zatrudnienia</td>
            <td>
                <a class="btn btn-primary" th:href="@{'/edit_p/' + ${pracownik.nr_pracownika}}">Edytuj</a>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{'/delete_p/' + ${pracownik.nr_pracownika}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 text-white fixed-bottom" style="background-color: #826CF0;">
        © 2024 Copyright: Adam Dołowy, Piotr Kosiara
    </div>
    <!-- Copyright -->
</footer>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>