.gradient-bg {
            background: rgb(36,0,36);
            background: linear-gradient(45deg, rgba(108,128,240,0.94) 0%, rgba(105,168,240,0.94) 29%, rgba(216,108,240,1) 100%);
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-navbar {
    background-color: #826CF0;
}
.fwd-navbar {
    position: relative;
    z-index: 100;
}
.drop-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    z-index:50;
}
.logo {
    position: absolute;
    z-index: 1000;
    width: 380px;
    height: auto;
    left: -2%;
    padding-top: -5%;

}
.btn-primary{
    background-color: #826CF0;
    font-size: 1rem;
    border-color: #826CF0;
}
.btn-primary:hover{
    background-color: #31186c;
    border-color: #31186c;
}


@media screen and (max-width: 992px) {
    .logo {
        display: none;
    }
    .login-form-ratio {
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }
}