.logo {
    position: absolute;
    z-index: 1000;
    width: 20%;
    height: auto;
    left: -2%;
    padding-top: -5%;

}
.table-center {
    margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
}
.table-center th,
.table-center td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.table-center th {
    background-color: #f2f2f2;
}

.table-center tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-center tr:hover {
    background-color: #e5e5e5;
}

.bg-navbar {
    background-color: #826CF0;
}
.drop-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    z-index:50;
}
.btn-primary{
    background-color: #7868cb;
    font-size: 1rem;
    border-color: #7868cb;
}
.btn-primaryL{
    font-size: 1.25rem;
}
.btn-primary:hover{
    background-color: #31186c;
    border-color: #31186c;
}

.btn-disabled {
    background-color: #9c92be;
    color: white;
}